*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*::selection {
    background-color: #006241;
    color: #fff;
}

img{
    width: 50px;
}

/*inicio del header */

.header {
    background-color: #006241;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 8px 26px 0px rgba(0,0,0,0.75);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

.header__logo{
    width: 30px;
}

.header__nav, .header__login{
    display: none;
}

.header__container-login-mobile i{
    color: #fff;
    font-size: 25px;
}
/* fin del header */

/* inicio del main */

.main{
    margin-top: 90px;
    padding: 15px 15px 60px;
}

.main__container-logo{
    display: none;
}

.main__container-texto{
    display: flex;
    flex-direction: column;
}

.main__titulo{
    font-size: 50px;
    line-height: 1.1;
    font-weight: 500;
}

.main__titulo span{
    color: #006241;
}

.main__parrafo {
    margin-top: 25px;
    font-weight: 500;
    font-size: 16px;
}

/* fin del main */

/* inicio del gallery */

.gallery{
    background-color: #006241;
    padding: 55px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__img{
    width: 75%;
    margin-top: 15px;
}

/* fin del gallery */
/* inicio del contactanos */

.contacto{
    background-color: #0e0e0e;
    padding: 35px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto__titulo{
    color: #006241;
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 500;
}

.contacto__form{
    background-color: #006241;
    color: #fff;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 280px;
}
.contacto__container label{
    font-size: 14px;
}
.contacto__container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.contacto__container input::placeholder,
.contacto__container textarea::placeholder{
    color: #006241;
    font-weight: 500;
    font-size: 14px;
}

.contacto__container input,
.contacto__container textarea {
    padding: 5px;
    border-radius: 7px;
    border: none;
}    

.contacto__container input:focus,
.contacto__container textarea:focus {
    background-color: black;
}

.contacto__enviar{
    background-color: inherit;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 45%;
    padding: 3px;
    margin-top: 15px;
    transition: all 0.5s;
}

.contacto__enviar:hover {
    background-color: yellow;
    color: yellow;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 45%;
    padding: 3px;
    margin-top: 15px;
}

/* fin del contacto */